/* General*/
html{
	background: url('ecommerce.jpg');
	background-size: cover;
}

html, body{
	margin: 0;
	padding: 0;
}
/* Nav bar*/

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #444;
}

nav ul li{
	display: inline-block;
	font-size: 1.1em;
	padding: 12px;
	font-family: "calibri";
	font-weight: bold;
}

nav a{
	text-decoration: none;
	color: #fff;
	padding: 12px;
}

nav a:hover{
	background: #188C9C;
	color:#fff;
}

#welcome{
	text-decoration: none;
	color: #fff;
	background: transparent;
	border: 0;
	font-size: 1.2em;
	font-family: "calibri";
	font-weight: bold;
	
}

form input[type=submit]{
	text-decoration: none;
	color: #fff;
	background: transparent;
	border: 0;
	font-size: 1.1em;
	font-family: "calibri";
	font-weight: bold;
	padding: 0;
}

form input[type=submit]:hover{
	background: #188C9C;
	color:#fff;
}
/* Content*/

#content{
	color: #fff;
	margin-top: 200px;
	width: 100%;
	text-align: center;
}

#content h1{
	font-size: 80px;
	font-weight: normal;
	margin-bottom: 10px;
}

#content h1{
	font-size: 80px;
	font-weight: normal;
	margin-bottom: 10px;
}

#content h4{
	font-weight: normal;
	margin-top: 0;
	letter-spacing: 8px;
}

#content h3{
	font-weight: normal;
	margin-top: 0;
	letter-spacing: 5px;
	font-weight: bold;
}

footer{
	background: #000;
	color: #fff;
	padding: 18px;
	margin-top: 182px;
	position: absolute;
	bottom: 0;
	width: 97.5%;
	height: 20px;
}

.footerLeft .footerRight{
	display: inline-block;
}

.footerLeft a{
	color: #bbb;
	text-decoration: none;
	padding: 5px;
}

.footerLeft a:hover{
	color: #fff;
}

.footerRight{
	float: right;
}

.addressbar{
	width: 320px;
	height: 420px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 30px 30px;
}

h1{
	margin: 0;
	padding: 0 0 0px;
	text-align: center;
	font-size: 22px;
}

.addressbar p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.addressbar input{
	width: 100%;
	margin-bottom: 20px;
}

.addressbar input[type="submit"]{
	border: none;
	outline: none;
	height: 48px;
	background: #ff8c00;
	color: #fff;
	font-size: 18px;
	border-radius: 25px;
}

.addressbar input[type="submit"]:hover
{
	cursor: pointer;
	background:#ff4500;
}

.addressbar a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.addressbar a:hover{
	color: #ffc107;
}

