html {
	background: url('ecommerce.jpg');
	background-size: cover;
}

html, body {
	margin: 0;
	padding: 0;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #444;
}

nav ul li {
	display: inline-block;
	font-size: 1.2em;
	padding: 12px;
	font-family: "calibri";
	font-weight: bold;
}

nav a {
	text-decoration: none;
	color: #fff;
	padding: 12px;
}

nav a:hover {
	background: #188C9C;
	color: #fff;
}

#continue {
	text-decoration: none;
	color: #000000;
	font-size: 1.3em;
	font-family: "calibri";
	font-weight: bold;
	display: inline-block;
	background-color: #c0c0c0;
	position: relative;
	left: 30%;
	bottom: 120px;
}

#continue:hover {
	background: #c0c0c0;
	color: #fff;
}

#add{
	text-decoration: none;
	color: #000000;
	font-size: 1.3em;
	font-family: "calibri";
	font-weight: bold;
	display: inline-block;
	background-color: #c0c0c0;
	position: relative;
	left: 70%;
	bottom: 120px;
	
}

#add:hover {
	background: #c0c0c0;
	color: #fff;
}

#checkout {
	text-decoration: none;
	color: #000000;
	font-size: 1.3em;
	font-family: "calibri";
	font-weight: bold;
	display: inline-block;
	background-color: #c0c0c0;
	position: relative;
	left: 37%;
	bottom: 120px;
}

#checkout:hover {
	background: #c0c0c0;
	color: #fff;
}

#remove {
	text-decoration: none;
	color: #000000;
	background: #D3D3D3;
	border: 0;
	font-size: 1em;
	border-style: outset;
	display: inline-block;
	font-weight: bold;
}

#remove:hover {
	background: #c0c0c0;
	color: #fff;
}

#welcome {
	text-decoration: none;
	color: #fff;
	background: transparent;
	border: 0;
	font-size: 1.2em;
	font-family: "calibri";
	font-weight: bold;
}

table caption {
	font-family: "calibri";
	font-size: 1.1em;
	font-weight: bold;
	color: #F0FFFF;
}

table {
	border-collapse: collapse;
	margin: 8em auto;
}

table th {
	text-align: left;
	background-color: #444;
	color: #FFF;
	padding: 4px 30px 4px 8px;
}

table td {
	border: 1px solid #e3e3e3;
	padding: 4px 8px;
}

table tr:nth-child(odd) td {
	background-color: #DCDCDC;
}

table tr:nth-child(even) td {
	background-color: #F0F8FF;
}

form input[type=submit] {
	text-decoration: none;
	color: #fff;
	background: transparent;
	border: 0;
	font-size: 1.1em;
	font-family: "calibri";
	font-weight: bold;
	padding: 0;
}

form input[type=submit]:hover {
	background: #188C9C;
	color: #fff;
}

#image {
	width: 32px;
	height: 32px;
	border: 0;
	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#edit{
	width: 32px;
	height: 32px;
	border: 0;
	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

footer {
	background: #000;
	color: #fff;
	padding: 18px;
	margin-top: 182px;
	position: absolute;
	bottom: 0;
	width: 97.5%;
	height: 20px;
}

.footerLeft .footerRight {
	display: inline-block;
}

.footerLeft a {
	color: #bbb;
	text-decoration: none;
	padding: 5px;
}

.footerLeft a:hover {
	color: #fff;
}

.footerRight {
	float: right;
}